# Dependencies
node_modules/
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# SDK (in case user drops it here)
flutter/
flutter_windows_*.zip

# Build outputs
dist/
build/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
